.card {
  display: grid;
  gap: var(--size-1);
  background-color: var(--surface3);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  max-height: max-content;
}
.title {
  padding: var(--size-2);
  font-weight: var(--font-weight-6);
  text-align: center;
  border-radius: var(--radius-3) var(--radius-3) 0 0;
  color: var(--text1-dark);
}
.content {
  padding-block: var(--size-3);
  padding-inline: var(--size-4);
  display: grid;
  gap: var(--size-2);
}
.dates {
  align-self: end;
  padding-block: var(--size-2);
  padding-inline: var(--size-3);
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-self: end;
  gap: var(--size-3);
  background-color: var(--surface5);
  padding: 0;
  margin: 0;
  border-radius: 0 0 var(--radius-3) var(--radius-3);
  min-height: var(--size-8);
  max-height: var(--size-8);
}
.button {
  background-color: transparent;
  padding: var(--size-2);
}

.button:hover {
  color: var(--brand);
}

.content-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--size-14), 1fr));
  grid-template-rows: masonry;
  align-items: start;
  masonry-auto-flow: next;
  gap: var(--size-3);
}