.card {
  display: grid;
  gap: 0.25rem;
  background-color: var(--surface-container-high);
  border-radius: 1rem;
  max-height: max-content;
  max-width: 35ch;
}

.card .title {
  padding: 0.5rem;
  font-weight: 600;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  color: var(--on-surface);
  height: 4rem;
  display: grid;
  place-content: center;
}

.card .content {
  padding-block: 1rem;
  padding-inline: 1.25rem;
  display: grid;
  gap: 0.5rem;
}

.card .dates {
  align-self: end;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.card .buttons {
  display: flex;
  justify-content: space-around;
  align-self: end;
  gap: 1rem;
  padding: 0;
  margin: 0;
  border-radius: 0 0 1rem 1rem;
  min-height: 4rem;
  max-height: 4rem;
}

.card .button {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-block: 1rem;
  cursor: pointer;
  color: var(--on-tertiary-container);
  background: var(--tertiary-container);
  border: 1px solid var(--on-tertiary-container);
  border-radius: 0.5rem;
  transition: transform 150ms ease-out;
}

.card .button:hover {
  transform: scale(1.1);
}

.card .button:disabled {
  cursor: not-allowed;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  border: 1px solid var(--on-secondary-container);
}

.card .button:disabled:hover {
  transform: none;
}

.jobs-content-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: masonry;
  align-items: start;
  masonry-auto-flow: next;
  gap: 1rem;
}

.card a {
  text-decoration: none;
  color: inherit;
}