.card {
  display: grid;
  gap: 0.25rem;
  background-color: var(--surface-container-high);
  border-radius: 1rem;
  max-height: max-content;
  max-width: 65ch;
}

.card .title {
  padding: 0.5rem;
  font-weight: 600;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  height: 4rem;
  display: grid;
  place-content: center;
}

.card .content {
  padding-block: 2rem;
  padding-inline: 2rem;
  display: grid;
  gap: 1rem;
  column-gap: 2rem;
  grid-template-areas: "tpname pname" "tvac vac" "tduty duty" "tresidence residence" "tgender gender" "tcontract contract" "tstarting starting" "tdeadline deadline";
  grid-template-columns: 1fr 2fr;
}

.contenttitle {
  font-weight: 600;
}

.tpname {
  grid-area: tpname;
}

.pname {
  grid-area: pname;
  align-self: end;
}

.tvac {
  grid-area: tvac;
}

.vac {
  grid-area: vac;
  align-self: end;
}

.tduty {
  grid-area: tduty;
}

.duty {
  grid-area: duty;
  align-self: end;
}

.tresidence {
  grid-area: tresidence;
}

.residence {
  grid-area: residence;
  align-self: end;
}

.tgender {
  grid-area: tgender;
}

.gender {
  grid-area: gender;
  align-self: end;
}

.tcontract {
  grid-area: tcontract;
}

.contract {
  grid-area: contract;
  align-self: end;
}

.tstarting {
  grid-area: tstarting
}

.starting {
  grid-area: starting;
  align-self: end;
}

.tdeadline {
  grid-area: tdeadline;
}

.deadline {
  grid-area: deadline;
  align-self: end;
}

.card .dates {
  align-self: end;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}

.card .buttons {
  display: flex;
  justify-content: end;
  align-self: end;
  gap: 1rem;
  padding: 0;
  padding-inline: 2rem;
  margin: 0;
  border-radius: 0 0 1rem 1rem;
  min-height: 4rem;
  max-height: 4rem;
}

.card .button {
  padding-block: 0.7rem;
  padding-inline: 1rem;
  margin-block: 1rem;
  cursor: pointer;
  color: var(--on-tertiary-container);
  background: var(--tertiary-container);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  transition: transform 150ms ease-out;
  display: grid;
  place-content: center;
}

.card .button:hover {
  transform: scale(1.1);
}

.card .button:disabled {
  cursor: not-allowed;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

.card .button:disabled:hover {
  transform: none;
}

.contentwrap {
  display: grid;
  justify-items: center;
  align-items: start;
  gap: 2rem;
}

.card a {
  text-decoration: none;
  color: inherit;
}