.projects {
  display: grid;
  align-content: start;
  margin-top: 3rem;
}

.projects__list {
  list-style: none;
  height: auto;
  display: grid;
  place-content: start;
  gap: 0.5rem;
  background-color: transparent;
  padding-block-end: 0.5rem;
  padding-block-start: 1.75rem;
  border-radius: 1rem;
  position: relative;
  max-width: max-content;
}

@media (min-width: 700px) {
  .projects {
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .projects__list {
    padding-inline: 1rem;
  }
}

.projects__icon {
  display: grid;
  place-items: center;
  place-content: center;
  background-color: var(--primary-container);
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  top: -1.2em;
  left: 0.8em;
  width: 36px;
  height: 36px;
  border: 1px solid var(--outline-variant);
}

.projects__icon .tooltip {
  visibility: hidden;
  background-color: var(--surface-container-highest);
  color: var(--on-surface);
  text-align: center;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  right: -9rem;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.projects__icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.project__title {
  position: absolute;
  top: -1.2em;
  left: 3.3em;
  height: 36px;
  display: grid;
  align-items: center;
}

.project__title>p {
  font-size: var(--fs-xs);
  font-weight: 600;
  text-transform: uppercase;
}

.project>button {
  text-align: start;
  max-width: max-content;
  font-size: var(--fs-xs);
  font-weight: 700;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid var(--outline-variant);
  cursor: pointer;
  padding: 0.5rem;
}

.project--selected>button,
.project:hover>button {
  background-color: var(--surface-container-high);
  color: var(--on-surface);
}