---
import Title from "@components/Title.astro";
import Feed from "@components/Feed/Feed"

---

<div class="feeds-main-wrap surface">
  <div class="feeds-section-title">
    <Title title="Feeds" right />
  </div>
  <div class="feeds-content">
    <Feed client:visible />
  </div>
</div>

<style>
  @import "./feed-styles.css"
</style>
