@import "../../styles/style.css";

.feeds-main-wrap {
  padding-block: var(--size-8);
  padding-inline: var(--size-4);
  display: grid;
  grid-template:
      "title" 0.2fr
      "content" 2fr / 1fr;
  place-items: center;
  place-content: center;
  position: relative;
  gap: var(--size-4);
}

@media (min-width: 950px) {
  .feeds-main-wrap {
      grid-template: "title content" / 1fr 2fr;
      padding-block: var(--size-10);
      padding-inline: var(--size-8);
      gap: var(--size-8);
      place-items: center;
  }
}

@media (min-width: 1600px) {
  .feeds-main-wrap {
      padding-inline: var(--size-13);
  }
}

.feeds-section-title {
  grid-area: title;
  place-self: start;
}

@media (min-width: 950px) {
  .feeds-section-title {
      place-self: center;
  }
}

.feeds-content-title {
  max-width: var(--size-content-2);
}

.feeds-content {
  display: grid;
  place-content: center;
}