@import "../../styles/style.css";

.wrap {
  display: none;
}

.title {
  padding-block-end: var(--size-4);
  display: flex;
  gap: var(--size-2);
  align-items: end;
}

.rss-icon {
  width: 50px;
  fill: var(--orange-6);
}

.title__text {
  text-transform: capitalize;
  font-weight: bold;
}

.content {
  margin: auto auto;
  display: column;
  columns: 3;
}

.content>* {
  margin-bottom: 1em;
}

@media (min-width: 1200px) {
  .wrap {
    display: grid;
    justify-content: center;
    padding-block-start: var(--size-10);
    padding-block-end: var(--size-10);
    padding-inline: var(--size-4);
  }
}

@media (min-width: 1700px) {
  .wrap {
    padding-inline: var(--size-14);
  }
}

@supports (grid-template-rows: masonry) {
  .content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    grid-template-rows: masonry;
    gap: 1em;
  }

  .content>* {
    margin-bottom: 0;
  }
}