---
import Title from "@components/Title.astro";
import Feed from "@components/Feed/Feed";
---

<div class="feeds-main-wrap surface">
  <div class="feeds-section-title">
    <Title title="Feeds" right />
  </div>
  <div class="feeds-content">
    <Feed client:visible />
  </div>
</div>

<style>
  .feeds-main-wrap {
    padding-block: 3rem;
    padding-inline: 1.25rem;
    display: grid;
    grid-template:
      "title" 0.2fr
      "content" 2fr / 1fr;
    place-items: center;
    place-content: center;
    position: relative;
    gap: 1.25rem;
  }

  @media (min-width: 950px) {
    .feeds-main-wrap {
      grid-template: "content title" / 2fr 1fr;
      padding-block: 5rem;
      padding-inline: 3rem;
      gap: 3rem;
      place-items: center;
    }
  }

  @media (min-width: 1600px) {
    .feeds-main-wrap {
      padding-inline: 15rem;
    }
  }

  .feeds-section-title {
    grid-area: title;
    place-self: start;
  }

  @media (min-width: 950px) {
    .feeds-section-title {
      place-self: center;
    }
  }
</style>
