.calendar {
  display: grid;
  justify-items: start;
  align-content: start;
}

@media (min-width: 700px) {
  .calendar {
    margin-top: 2rem;
  }
}

.calendarlist {
  list-style: none;
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  background-color: transparent;
  padding-inline-start: 1rem;
  padding-block-end: 1.25rem;
  padding-block-start: 1.75rem;
  border-radius: 1rem;
  position: relative;
}

.calendaricon {
  display: grid;
  place-items: center;
  place-content: center;
  background-color: var(--primary-container);
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  top: -1.2em;
  left: 0.8em;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border: 1px solid var(--outline-variant);
}

.calendaricon .tooltip {
  visibility: hidden;
  background-color: var(--surface-container-highest);
  color: var(--on-surface);
  text-align: center;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  right: -9rem;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.calendaricon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.calendartitle {
  position: absolute;
  top: -1.2em;
  left: 3.3em;
  height: 36px;
  display: grid;
  align-items: center;
}

.calendartitle>p {
  font-size: var(--fs-sm);
  font-weight: 600;
  text-transform: uppercase;
}

.calendaritem {
  width: 100%;
  display: grid;
}

.calendaritem>button {
  color: var(--on-surface);
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  background-color: transparent;
  width: 100%;
  font-size: var(--fs-xs);
  font-weight: 600;
  display: grid;
  border: 1px solid var(--surface-container-highest);
  border-radius: 0.5rem;
  cursor: pointer;
}

.calendaritem>button:disabled {
  color: var(--neutral25);
  cursor: not-allowed;
}

.calendaritemselected>button,
.calendaritem:hover>button {
  background-color: var(--surface-container-highest);
  color: var(--on-surface-container);
  border-radius: 0.5rem;
}

.calendaritem:hover>button {
  color: var(--on-surface);
}