.cards {
  margin: auto;
  max-width: max-content;
  display: grid;
  align-content: start;
  padding-inline: 1.75rem;
  padding-block: 1.25rem;
  gap: 1rem;
  background-color: var(--primary-container);
  border-radius: 1rem;
}

.title>h2 {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.title>p {
  max-width: 65ch;
  font-size: var(--fs-xs);
  font-weight: 600;
}

.list {
  display: grid;
  gap: 0.5rem;
}

.card {
  background-color: var(--surface-container);
  color: var(--on-surface);
  display: grid;
  gap: 0.2rem;
  padding-inline: 1.25rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  align-items: center;
  border: 1px solid var(--outline-variant);
  cursor: pointer;
}

.general {
  display: grid;
  grid-template-columns: 24px 1fr 5fr;
  gap: 1rem;
  align-items: center;
  justify-content: start;
}

.breakdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  list-style: none;
  font-size: var(--fs-xs);
  font-weight: 600;
}

.breakdown>li {
  display: grid;
}

.cardtitle {
  font-size: var(--fs-xs);
  font-weight: 600;
}

.cardnum {
  justify-self: end;
  font-size: var(--fs-sm);
  font-weight: 800;
}