.type-cards {
  margin: auto;
  max-width: min-content;
  display: grid;
  align-content: start;
  padding-inline: 1.75rem;
  padding-block: 1.25rem;
  gap: 1rem;
  background-color: var(--primary-container);
  border-radius: 1rem;
}

.type-cards__title>h2 {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.type-cards__title>p {
  max-width: 65ch;
  font-size: var(--fs-xs);
  font-weight: 600;
}

.type-cards__cards {
  display: grid;
  gap: 0.5rem;
}

.type-card {
  background-color: var(--surface-container);
  color: var(--on-surface);
  display: grid;
  grid-template-columns: 2rem 1fr 5fr;
  gap: 1rem;
  padding-inline: 1.25rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  align-items: center;
  border: 1px solid var(--outline-variant);
}

.type-card__name {
  font-size: var(--fs-xs);
  font-weight: 600;
}

.type-card__num {
  justify-self: end;
  font-size: var(--fs-sm);
  font-weight: 800;
}