.type-cards {
    width: 100%;
    display: grid;
    align-content: start;
    padding-inline: var(--size-6);
    padding-block: var(--size-4);
    gap: var(--size-4);
}

.type-cards__title>h2 {
    font-size: var(--font-size-4);
    padding-bottom: 1rem;
}

.type-cards__title>p {
    max-width: var(--size-content-1);
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-6);
}

.type-cards__cards {
    display: grid;
    gap: var(--size-2);
}

.type-card {
    background-color: var(--surface1);
    display: grid;
    grid-template-columns: 2rem 1fr 5fr;
    gap: var(--size-3);
    padding-inline: var(--size-4);
    padding-block: var(--size-2);
    border-radius: var(--radius-3);
    align-items: center;
}

.type-card__name {
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-6);
}

.type-card__num {
    justify-self: end;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-8);
}