---
import Title from "@components/Title.astro";
import ExpertiseList from "@components/Expertise/Expertise-list"

---

<div class="expertise-main-wrap surface">
  <div class="expertise-section-title">
    <Title title="Our Expertise" left />
  </div>
  <div class="expertise-content">
    <p class="expertise-content-title">
      We have expertise in a wide range of humanitarian and technical
      departments.
    </p>
    <ExpertiseList client:only="preact" />
  </div>
</div>

<style>
  @import "./expertise-styles.css"
</style>
