---
import Title from "@components/Title.astro";
import Experty from "@components/Expertise/Experty.astro";

import "./expertise-styles.css";
import { getCollection, getEntry } from "astro:content";

const expertise = await getCollection("expertise");
---

<div class="expertise-main-wrap">
  <div class="expertise-section-title">
    <Title title="Our Expertise" left />
  </div>
  <div class="expertise-content">
    <p class="expertise-content-title">
      We have expertise in a wide range of humanitarian and technical
      departments.
    </p>
    <div class="expertise-container">
      {expertise.map((item) => <Experty experty={item} />)}
    </div>
  </div>
</div>

<style>
  @import "./expertise-styles.css";
</style>
