@import "../../styles/style.css";

.expertise-main-wrap {
    padding-block: 3rem;
    padding-inline: 1.25rem;
    display: grid;
    grid-template:
        "title" 0.2fr
        "content" 2fr / 1fr;
    place-items: center;
    position: relative;
    gap: 1.25rem;
}

@media (min-width: 950px) {
    .expertise-main-wrap {
        grid-template: "title content" / 1fr 2fr;
        padding-block: 5rem;
        padding-inline: 3rem;
        gap: 3rem;
        place-items: center;
    }
}

@media (min-width: 1600px) {
    .expertise-main-wrap {
        padding-inline: 15rem;
    }
}

.expertise-section-title {
    grid-area: title;
    place-self: start;
}

@media (min-width: 950px) {
    .expertise-section-title {
        place-self: center;
    }
}

.expertise-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-items: center;
}

.expertise-content-title {
    font-size: var(--fs-fl-sm);
    font-weight: 600;
    max-inline-size: 25ch;
}

.expertise-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); */
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    position: relative;
    max-width: 35rem;
}

.expertise-item {
    padding-block: 0.25rem;
    padding-inline: 0.25rem;
    background: transparent;
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    color: var(--on-surface);
    font-weight: 600;
    font-size: var(--fs-sm);
    cursor: pointer;
    min-width: min-content;
    flex: 0 1 max-content;
}

.expertise-item:hover {
    background-color: var(--tertiary-container);
    color: var(--on-tertiary-container);
}

@media (min-width: 450px) {
    .expertise-item {
        padding-block: 0.5rem;
        padding-inline: 0.5rem;
    }
}

.expertise-menu[open] {
    display: grid;
    background: var(--surface);
    color: var(--on-surface);
    /* safari */
    max-inline-size: min(90vw, 60ch);
    max-block-size: min(80vh, 100%);
    max-block-size: min(80dvb, 100%);
    margin: auto;
    padding: 0;
    inset: 0;
    border-radius: 0.5rem;
    z-index: 999999;
    overflow: hidden;
}

.expertise-menu-title {
    display: grid;
    place-content: center;
    font-weight: 600;
    font-size: var(--fs-md);
    color: var(--on-primary-container);
    padding-block: 1rem;
    padding-inline: 1rem;
    background-color: var(--primary-container);
    min-width: 100%;
}

.expertise-menu-content {
    padding-block: 1.25rem;
    padding-inline: 1.25rem;
}

.expertise-close-btn {
    font-weight: 600;
    color: var(--on-tertiary-container);
    background-color: var(--tertiary-container);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-size: var(--fs-sm);
    justify-self: end;
    margin-inline: 2rem;
    margin-block: 2rem;
    border: 1px solid var(--on-primary-container);
    border-radius: 0.5rem;
}