*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* material theme*/
  --md-source: #4a60a5;
  /* primary */
  --primary0: #000000;
  --primary10: #00174d;
  --primary20: #032978;
  --primary25: #163584;
  --primary30: #254290;
  --primary35: #334e9c;
  --primary40: #405aa9;
  --primary50: #5973c4;
  --primary60: #748de0;
  --primary70: #8ea8fd;
  --primary80: #b5c4ff;
  --primary90: #dbe1ff;
  --primary95: #eff0ff;
  --primary98: #faf8ff;
  --primary99: #fefbff;
  --primary100: #ffffff;
  /* secondary */
  --secondary0: #000000;
  --secondary10: #161b2c;
  --secondary20: #2b3042;
  --secondary25: #363b4d;
  --secondary30: #414659;
  --secondary35: #4d5265;
  --secondary40: #595e72;
  --secondary50: #72768b;
  --secondary60: #8b90a5;
  --secondary70: #a6aac1;
  --secondary80: #c1c5dd;
  --secondary90: #dde1f9;
  --secondary95: #eff0ff;
  --secondary98: #faf8ff;
  --secondary99: #fefbff;
  --secondary100: #ffffff;
  /* tertiary */
  --tertiary0: #000000;
  --tertiary10: #2b122a;
  --tertiary20: #422740;
  --tertiary25: #4e324c;
  --tertiary30: #5b3d57;
  --tertiary35: #674864;
  --tertiary40: #745470;
  --tertiary50: #8e6c89;
  --tertiary60: #aa86a4;
  --tertiary70: #c6a0bf;
  --tertiary80: #e2bbdb;
  --tertiary90: #ffd6f7;
  --tertiary95: #ffebf8;
  --tertiary98: #fff7f9;
  --tertiary99: #fffbff;
  --tertiary100: #ffffff;
  /* neutral */
  --neutral0: #000000;
  --neutral10: #1b1b1f;
  --neutral20: #303034;
  --neutral25: #3b3b3f;
  --neutral30: #46464a;
  --neutral35: #525256;
  --neutral40: #5e5e62;
  --neutral50: #77767a;
  --neutral60: #919094;
  --neutral70: #acaaaf;
  --neutral80: #c7c6ca;
  --neutral90: #e4e2e6;
  --neutral95: #f2f0f4;
  --neutral98: #fbf8fd;
  --neutral99: #fefbff;
  --neutral100: #ffffff;
  /* neutral-variant */
  --neutral-variant0: #000000;
  --neutral-variant10: #1a1b23;
  --neutral-variant20: #2e3038;
  --neutral-variant25: #393b43;
  --neutral-variant30: #45464f;
  --neutral-variant35: #51525b;
  --neutral-variant40: #5d5e67;
  --neutral-variant50: #767680;
  --neutral-variant60: #8f909a;
  --neutral-variant70: #aaaab4;
  --neutral-variant80: #c6c6d0;
  --neutral-variant90: #e2e1ec;
  --neutral-variant95: #f0f0fa;
  --neutral-variant98: #faf8ff;
  --neutral-variant99: #fefbff;
  --neutral-variant100: #ffffff;
  /* error */
  --error0: #000000;
  --error10: #410002;
  --error20: #690005;
  --error25: #7e0007;
  --error30: #93000a;
  --error35: #a80710;
  --error40: #ba1a1a;
  --error50: #de3730;
  --error60: #ff5449;
  --error70: #ff897d;
  --error80: #ffb4ab;
  --error90: #ffdad6;
  --error95: #ffedea;
  --error98: #fff8f7;
  --error99: #fffbff;
  --error100: #ffffff;
  /* light */
  --primary-light: #405aa9;
  --on-primary-light: #ffffff;
  --primary-container-light: #dbe1ff;
  --on-primary-container-light: #00174d;
  --secondary-light: #595e72;
  --on-secondary-light: #ffffff;
  --secondary-container-light: #dde1f9;
  --on-secondary-container-light: #161b2c;
  --tertiary-light: #745470;
  --on-tertiary-light: #ffffff;
  --tertiary-container-light: #ffd6f7;
  --on-tertiary-container-light: #2b122a;
  --error-light: #ba1a1a;
  --error-container-light: #ffdad6;
  --on-error-light: #ffffff;
  --on-error-container-light: #410002;
  --surface-light: #fefbff;
  --on-surface-light: #1b1b1f;
  --surface-variant-light: #e2e1ec;
  --on-surface-variant-light: #45464f;
  --outline-light: #767680;
  --inverse-on-surface-light: #f2f0f4;
  --inverse-surface-light: #303034;
  --inverse-primary-light: #b5c4ff;
  --shadow-light: #000000;
  --outline-variant-light: #c6c6d0;
  --surface-dim-light: #dad9e0;
  --surface-bright-light: #faf8ff;
  --surface-container-lowest-light: #ffffff;
  --surface-container-low-light: #f4f3fa;
  --surface-container-light: #eeedf4;
  --surface-container-high-light: #e9e7ef;
  --surface-container-highest-light: #e3e1e9;
  /* dark */
  --primary-dark: #b5c4ff;
  --on-primary-dark: #032978;
  --primary-container-dark: #254290;
  --on-primary-container-dark: #dbe1ff;
  --secondary-dark: #c1c5dd;
  --on-secondary-dark: #2b3042;
  --secondary-container-dark: #414659;
  --on-secondary-container-dark: #dde1f9;
  --tertiary-dark: #e2bbdb;
  --on-tertiary-dark: #422740;
  --tertiary-container-dark: #5b3d57;
  --on-tertiary-container-dark: #ffd6f7;
  --error-dark: #ffb4ab;
  --error-container-dark: #93000a;
  --on-error-dark: #690005;
  --on-error-container-dark: #ffdad6;
  --surface-dark: #1b1b1f;
  --on-surface-dark: #e4e2e6;
  --surface-variant-dark: #45464f;
  --on-surface-variant-dark: #c6c6d0;
  --outline-dark: #8f909a;
  --inverse-on-surface-dark: #1b1b1f;
  --inverse-surface-dark: #e4e2e6;
  --inverse-primary-dark: #405aa9;
  --shadow-dark: #000000;
  --outline-variant-dark: #45464f;
  --surface-dim-dark: #121318;
  --surface-bright-dark: #38393f;
  --surface-container-lowest-dark: #0d0e13;
  --surface-container-low-dark: #1a1b21;
  --surface-container-dark: #1e1f25;
  --surface-container-high-dark: #292a2f;
  --surface-container-highest-dark: #34343a;

  /* Typography */

  --fs-xs: 0.75rem;
  --fs-sm: 1rem;
  --fs-fl-sm: clamp(1rem, 2vw + 1rem, 1.5rem);
  --fs-md: 1.5rem;
  --fs-fl-md: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  --fs-lg: 2.5rem;
  --fs-fl-lg: clamp(2.5rem, 4vw + 1rem, 4rem);
  --fs-xl: 4.5rem;
}

:root {
  color-scheme: light;

  /* set defaults */
  --primary: var(--primary-light);
  --on-primary: var(--on-primary-light);
  --primary-container: var(--primary-container-light);
  --on-primary-container: var(--on-primary-container-light);
  --secondary: var(--secondary-light);
  --on-secondary: var(--on-secondary-light);
  --secondary-container: var(--secondary-container-light);
  --on-secondary-container: var(--on-secondary-container-light);
  --tertiary: var(--tertiary-light);
  --on-tertiary: var(--on-tertiary-light);
  --tertiary-container: var(--tertiary-container-light);
  --on-tertiary-container: var(--on-tertiary-container-light);
  --error: var(--error-light);
  --error-container: var(--error-container-light);
  --on-error: var(--on-error-light);
  --on-error-container: var(--on-error-container-light);
  --surface: var(--surface-light);
  --on-surface: var(--on-surface-light);
  --surface-variant: var(--surface-variant-light);
  --on-surface-variant: var(--on-surface-variant-light);
  --outline: var(--outline-light);
  --inverse-on-surface: var(--inverse-on-surface-light);
  --inverse-surface: var(--inverse-surface-light);
  --inverse-primary: var(--inverse-primary-light);
  --shadow: var(--shadow-light);
  --surface-tint: var(--surface-tint-light);
  --outline-variant: var(--outline-variant-light);
  --surface-dim: var(--surface-dim-light);
  --surface-bright: var(--surface-bright-light);
  --surface-container-lowest: var(--surface-container-lowest-light);
  --surface-container-low: var(--surface-container-low-light);
  --surface-container: var(--surface-container-light);
  --surface-container-high: var(--surface-container-high-light);
  --surface-container-highest: var(--surface-container-highest-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --primary: var(--primary-dark);
    --on-primary: var(--on-primary-dark);
    --primary-container: var(--primary-container-dark);
    --on-primary-container: var(--on-primary-container-dark);
    --secondary: var(--secondary-dark);
    --on-secondary: var(--on-secondary-dark);
    --secondary-container: var(--secondary-container-dark);
    --on-secondary-container: var(--on-secondary-container-dark);
    --tertiary: var(--tertiary-dark);
    --on-tertiary: var(--on-tertiary-dark);
    --tertiary-container: var(--tertiary-container-dark);
    --on-tertiary-container: var(--on-tertiary-container-dark);
    --error: var(--error-dark);
    --error-container: var(--error-container-dark);
    --on-error: var(--on-error-dark);
    --on-error-container: var(--on-error-container-dark);
    --surface: var(--surface-dark);
    --on-surface: var(--on-surface-dark);
    --surface-variant: var(--surface-variant-dark);
    --on-surface-variant: var(--on-surface-variant-dark);
    --outline: var(--outline-dark);
    --inverse-on-surface: var(--inverse-on-surface-dark);
    --inverse-surface: var(--inverse-surface-dark);
    --inverse-primary: var(--inverse-primary-dark);
    --shadow: var(--shadow-dark);
    --surface-tint: var(--surface-tint-dark);
    --outline-variant: var(--outline-variant-dark);
    --surface-dim: var(--surface-dim-dark);
    --surface-bright: var(--surface-bright-dark);
    --surface-container-lowest: var(--surface-container-lowest-dark);
    --surface-container-low: var(--surface-container-low-dark);
    --surface-container: var(--surface-container-dark);
    --surface-container-high: var(--surface-container-high-dark);
    --surface-container-highest: var(--surface-container-highest-dark);
  }
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  --male: #4c4cff;
  --female: #a64ca6;
  --camp: #9aa38c;
  --urban: #a26549;
  color-scheme: dark light;
  hanging-punctuation: first last;
  scroll-padding-top: 6rem;
  background-color: var(--surface);
  color: var(--on-surface);
  accent-color: var(--tertiary);
}

body {
  font-weight: normal;

  min-height: 100vh;
  min-height: 100svh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

dialog {
  border: 2px solid var(--outline)
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
p,
dt {
  color: var(--on-surface);
}

h5,
h6,
small,
dd {
  color: var(--on-surface);
}

p,
li {
  line-height: 1.3;
}