---
import { Image } from "astro:assets";
import DateFormat from "../DateFormat.astro";

const { article } = Astro.props;

const { title, cover, date } = article.data;
---

<div class="article-card">
  <figure>
    <Image
      src={cover}
      alt={title}
      width="350"
      height="400"
      loading="lazy"
      format="webp"
    />
  </figure>
  <div class="text">
    <p class="title">
      {title.length > 90 ? `${title.substring(0, 90)}...` : title}
    </p>
    <DateFormat date={date} />
  </div>
</div>

<style>
  .article-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: start;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 20rem;
    height: 26rem;
    background-color: var(--surface-container);
    border: 1px solid var(--outline-variant);
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 1rem;
  }

  .text {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 0.25rem;
    color: var(--on-surface);
  }

  .title {
    max-width: 32ch;
    color: var(--on-surface);
    align-self: start;
    /* height: calc(3 * 2em); */
  }
  .article-card:hover .title {
    color: var(--primary);
  }

  .date {
    justify-self: start;
    align-self: end;
    max-width: max-content;
  }
</style>
