---
const { id } = Astro.props;
---

<div
  class="fb-post"
  data-href={id}
  data-width="350"
  data-show-text="true"
  data-lazy="true"
>
</div>

<style>
  .card {
    background-color: white;
  }
</style>
