---
const { title, img, link } = Astro.props;
---

<div class="partner-card">
  <a href={link} target="_blank">
    <img
      loading="lazy"
      class="partner-logo"
      src={img}
      alt={title + " logo"}
      max-width="100%"
      max-height="100%"
    />
  </a>
</div>

<style>
  .partner-card {
    display: grid;
    place-content: center;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    min-height: 10rem;
    max-height: 10rem;
    min-width: 10rem;
    background: var(--surface-container-light);
    transition: transform 100ms ease-in;
    border-radius: 1rem;
    border: 1px solid var(--outline-variant);
  }

  .partner-card:hover {
    transform: scale(1.05);
  }

  .partner-logo {
    object-fit: cover;
    max-width: 9rem;
    max-height: 9rem;
  }
</style>
