---
import { Image } from "@astrojs/image/components";
const getImg = (id) => {
  return `https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/projects/project-${id}.webp`;
};

const { id, name } = Astro.props;
---

<a href={`/projects/${id}`}>
  <div class="project-card">
    <div class="project-card__content">
      <p>
        {name}
      </p>
    </div>
    <div class="project-card__img">
      <Image
        loading="lazy"
        alt="an image from the project"
        src={getImg(id)}
        width="208"
        aspectRatio="16:9"
      />
    </div>
  </div>
</a>

<style>
  a {
    text-decoration: none;
  }
  .project-card {
    --border-color: var(--surface1);
    background: var(--surface2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    display: grid;
    grid-template-columns: 5rem 10rem 5rem;
    min-height: 12rem;
    isolation: isolate;
    transition: all 1s linear;
    animation-iteration-count: infinite;
  }

  .project-card__content,
  .project-card__img {
    grid-row: 1/2;
  }

  .project-card__content {
    grid-column: 1/3;
    display: grid;
    place-content: center;
    padding-inline: var(--size-1);
    padding-block-end: var(--size-1);
    gap: var(--size-2);
    background-color: var(--surface4);
    border: var(--border-size-4) solid var(--border-color);
    border-radius: var(--radius-2);
    border-right: none;
  }

  .project-card__content > p {
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-6);
    color: var(--text1);
    text-align: center;
  }

  .project-card__img {
    grid-column: 2/-1;
    border-radius: var(--radius-2);
    border: var(--border-size-4) solid var(--border-color);
    border-left: none;
    z-index: -1;
  }

  @media (min-width: 1200px) {
    .project-card:hover > .project-card__img {
      animation-name: start;
      animation-duration: 600ms;
      animation-fill-mode: forwards;
    }

    .project-card:not(:hover) > .project-card__img {
      animation-name: end;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
    }
  }

  .project-card__img > img {
    object-fit: cover;
    width: auto;
    height: 100%;
  }

  @keyframes start {
    from {
      transform: translate(0);
    }
    33% {
      transform: translate(50%);
    }
    66% {
      transform: rotate(100%);
    }
    to {
      transform: translate(0);
      z-index: 1;
    }
  }

  @keyframes end {
    from {
      transform: translate(0);
    }
    33% {
      transform: translate(50%);
    }
    66% {
      transform: rotate(100%);
    }
    to {
      transform: translate(0);
      z-index: -1;
    }
  }
</style>
