@import "open-props/style";
@import "open-props/normalize";

.clusters {
  display: grid;
  align-content: start;
  margin-top: 3rem;
}

.clusters__list {
  list-style: none;
  height: auto;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 0.5rem;
  background-color: transparent;
  padding-inline: 0.5rem;
  padding-block-end: 0.5rem;
  padding-block-start: 1.75rem;
  border-radius: 1rem;
  position: relative;
  max-width: 10em;
}

@media (min-width: 700px) {
  .clusters {
    margin-top: 3rem;
  }

  .clusters__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .clusters__list {
    list-style: none;
    height: auto;
    max-width: 10em;
    display: grid;
    grid-template-columns: unset;
    place-items: center;
    place-content: center;
    gap: 0.5rem;
    background-color: transparent;
    padding-inline: 0.5rem;
    padding-block-end: 0.5rem;
    padding-block-start: 1.75rem;
    border-radius: 1rem;
    position: relative;
  }
}

.clusters__icon {
  display: grid;
  place-items: center;
  place-content: center;
  background-color: var(--primary-container);
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  top: -1.2em;
  left: 0.8em;
  width: 36px;
  height: 36px;
  border: 1px solid var(--outline-variant);
}

.cluster__title {
  position: absolute;
  top: -1.2em;
  left: 3.3em;
  height: 36px;
  display: grid;
  align-items: center;
}

.cluster__title>p {
  font-size: var(--fs-xs);
  font-weight: 600;
  text-transform: uppercase;
}

.cluster>button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-items: start;
  text-align: start;
  min-width: 10rem;
  font-size: var(--fs-xs);
  font-weight: 700;
  background-color: transparent;
  border-radius: 0.5rem;
  height: 3em;
  border: 1px solid var(--outline-variant);
}

.cluster--selected>button,
.cluster:hover>button {
  background-color: var(--surface-container-high);
  color: var(--on-surface);
}

.cluster__icon {
  padding: 0.5rem;
  background-color: var(--surface-container-high);
  color: var(--on-surface);
  border-radius: 0.5rem 0 0 0.5rem;
  height: 100%;
  min-width: 3em;
  display: grid;
  place-content: center;
}