@import "open-props/style";
@import "open-props/normalize";

.clusters {
  display: grid;
  justify-items: center;
  align-content: start;
  margin-top: var(--size-8);
}

.clusters__list {
  list-style: none;
  height: auto;
  width: 10em;
  display: grid;
  place-items: center;
  place-content: center;
  gap: var(--size-2);
  background-color: transparent;
  /* box-shadow: var(--shadow-2); */
  padding-inline: var(--size-2);
  padding-block-end: var(--size-2);
  padding-block-start: var(--size-6);
  border-radius: var(--radius-3);
  position: relative;
}

.clusters__icon {
  display: grid;
  place-items: center;
  place-content: center;
  background-color: var(--brand);
  padding: var(--size-2);
  border-radius: var(--radius-2);
  position: absolute;
  top: -1.2em;
  left: 0.8em;
  width: 36px;
  height: 36px;
  box-shadow: var(--shadow-2);
}

.cluster__title {
  position: absolute;
  top: -1.2em;
  left: 3.3em;
  height: 36px;
  display: grid;
  align-items: center;
}

.cluster__title>p {
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-6);
  text-transform: uppercase;
}

.cluster>button {
  display: flex;
  gap: var(--size-2);
  align-items: center;
  justify-items: start;
  text-align: start;
  width: 10rem;
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-7);
  background-color: transparent;
  border-radius: var(--radius-2);
  height: 3em;
}

.cluster:hover>button {
  background-color: var(--surface1);
  color: var(--text1);
  box-shadow: var(--shadow-3);
}

.cluster--selected>button {
  background-color: var(--surface1);
  color: var(--text1);
  box-shadow: var(--shadow-3);
}

.cluster__icon {
  padding: var(--size-2);
  background-color: var(--brand);
  color: var(--gray-0);
  border-radius: var(--radius-2) 0 0 var(--radius-2);
  box-shadow: var(--shadow-2);
  height: 100%;
  min-width: 3em;
  display: grid;
  place-content: center;
}

.cluster__icon-protection {
  background-color: var(--blue-8);
}

.cluster__icon-gbv {
  background-color: var(--orange-7);
}

.cluster__icon-cp {
  background-color: var(--red-8);
}

.cluster__icon-health {
  background-color: var(--green-8);
}

.cluster__icon-livelihood {
  background-color: var(--lime-7);
}

.cluster__icon-wash {
  background-color: var(--blue-4);
}