---
import MainLayout from "../../layouts/MainLayout.astro";
import BidsCard from "@components/Announcements/BidsCard.astro";
const items = [
  {
    name: "home",
    link: "/",
    disabled: false,
  },
  {
    name: "Announcements",
    link: "/announcements",
    disabled: false,
  },
  {
    name: "Bids",
    disabled: true,
  },
];
const getTime = (dl) => {
  const currentDate = new Date();
  const deadLine = new Date(dl);
  deadLine.setHours(deadLine.getHours() + 15);
  deadLine.setMinutes(deadLine.getMinutes() + 30);
  deadLine.setSeconds(deadLine.getSeconds() + 59);
  deadLine.setMilliseconds(deadLine.getMilliseconds() + 59);
  const difference = deadLine.getTime() - currentDate.getTime();
  const daysLeft = Math.ceil(difference / (1000 * 3600 * 24));
  return daysLeft;
};
---

<MainLayout title="Job Opportunities" crumbs={items}>
  <div class="main-wrap">
    <div class="content-wrap">
      <BidsCard
        eng="this is the title english for this card"
        ara="هذا بللغة العربية ة انانا نحن الذين لسنا ان كنا نحن في هااااا"
        kurd="هذا بللغة العربية ة انانا نحن الذين لسنا ان كنا نحن في هااااا"
        date="20/06/2022"
        deadline="12/07/2022"
        dl={getTime("2022-09-29")}
        refNum="ITB-HD-Harikar-2022_005"
      />
    </div>
  </div>
</MainLayout>

<style>
  .main-wrap {
    padding-block-start: 3rem;
    padding-block-end: 10rem;
    padding-inline: 1.25rem;
  }
  .content-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: masonry;
    align-items: start;
    masonry-auto-flow: next;
    gap: 1rem;
  }

  .legend {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-inline: 5rem;
    padding-block: 1.25rem;
    place-items: center;
  }
  .legend li {
    font-weight: 600;
  }

  .mt7 {
    color: var(--blue-7);
  }
  .lt7 {
    color: var(--green-7);
  }
  .lt3 {
    color: var(--red-7);
  }
  @media (min-width: 700px) {
    .legend {
      flex-direction: row;
      place-content: space-around;
    }
  }

  @media (min-width: 950px) {
    .main-wrap {
      padding-inline: 10rem;
      gap: 5rem;
    }

    .breadcrumbs {
      margin-left: 3rem;
      margin-top: 1rem;
    }
  }
</style>
