---
import MainLayout from "@layouts/MainLayout.astro";
const items = [
  {
    name: "home",
    link: "/",
    disabled: false,
  },
  {
    name: "Announcements",
    link: "/announcements",
    disabled: false,
  },
];
---

<MainLayout title="Jobs and Bids announcements" crumbs={items}>
  <div class="main-wrap">
    <a href="/announcements/job-opportunities" class="card jobs">
      <h2>Job Announcements</h2>
      <p>0 Jobs vacancies available</p>
    </a>
    <a href="/announcements/bids" class="card bids">
      <h2>Bid Announcements</h2>
      <p>0 Jobs vacancies available</p>
    </a>
  </div>
</MainLayout>

<style>
  .main-wrap {
    height: 100%;
    display: grid;
    align-content: start;
    justify-content: center;
    gap: var(--size-6);
    padding-inline: 1.25rem;
    padding-block-start: 3rem;
    padding-block-end: 5rem;
  }

  .card {
    text-decoration: none;
    display: grid;
    min-height: 5rem;
    max-width: 100%;
    padding: 1.75rem;
    gap: 1.75rem;
    border-left: 4px solid var(--brand);
    border-radius: 1rem;
    background-color: var(--surface-container);
  }

  .card:hover {
    background-color: var(--surface-container-highest);
  }

  .card > h2 {
    font-size: var(--fs-fl-sm);
  }
</style>
