---
import JobsList from "@components/Announcements/JobsList";
import MainLayout from "../../layouts/MainLayout.astro";
const items = [
  {
    name: "home",
    link: "/",
    disabled: false,
  },
  {
    name: "Announcements",
    link: "/announcements",
    disabled: false,
  },
  {
    name: "Job opportunities",
    disabled: true,
  },
];
---

<MainLayout title="Job Opportunities" crumbs={items}>
  <div class="main-wrap">
    <JobsList client:only="preact" />
  </div>
  <ul class="legend">
    <li class="mt7">More than 7 days left</li>
    <li class="lt7">Less than 7 days left</li>
    <li class="lt3">Less than 3 days left</li>
  </ul>
</MainLayout>

<style>
  .main-wrap {
    padding-block-start: 3rem;
    padding-block-end: 10rem;
    padding-inline: 1.25rem;
  }

  @media (min-width: 950px) {
    .main-wrap {
      padding-inline: 10rem;
      gap: 5rem;
    }
    .breadcrumbs {
      margin-left: 3rem;
      margin-top: 1rem;
    }
  }

  .legend {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-inline: 5rem;
    padding-block: 1.25rem;
    place-items: center;
  }
  .legend li {
    font-weight: 600;
  }

  .mt7 {
    color: var(--blue-7);
  }
  .lt7 {
    color: var(--green-7);
  }
  .lt3 {
    color: var(--red-7);
  }
  @media (min-width: 700px) {
    .legend {
      flex-direction: row;
      place-content: space-around;
    }
  }
</style>
