---
import MainLayout from "../layouts/MainLayout.astro";
import Member from "../components/Member.astro";

const items = [
  {
    name: "home",
    link: "/",
    disabled: false,
  },
  {
    name: "executive board members",
    disabled: true,
  },
];
---

<MainLayout title="Executive board members" crumbs={items}>
  <div class="main-wrap">
    <Member
      left
      alt="Salah Majid's photo"
      name="Salah Y. Majid"
      img="https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/members/salah.webp"
      title="Executive Director"
      desc="Graduate from College of Arts in 1991,\
           Mosul University, Iraq. Executive Director of Harikar NGO since 2007.\
           Started with humanitarian sectors with Care International Australia in 1992.\
           Previous experiences with World Food Programme, with more than 28 years of\
           experience in development, management, emergency response operation, project\
           management, project design and proposal writing. Being in the field of\
           promoting and developing humanitarian and civil society work since 1992,\
           Salah was granted with Civic Award of the Ministry of Civil Society Affairs\
           by the Prime Minister of KRG in 2008."
    />
    <Member
      right
      alt="Nawzad Saed's photo"
      name="Nawzad Saed"
      img="https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/members/nawzad.webp"
      title="Operations Manager"
      desc="Nawzad Saeed is an operations manager with more than 25 years of experience in\
           management and working with local and international Humanitarian agencies.\
           He specializes in Education Administrations. He enjoys using his skills to\
           contribute to the promotion of the organization process and procedures.\
           He is a powerful force in the workplace and uses his usual positive attitude and\
           tireless energy to encourage others to work hard and succeed. Nawzad graduated\
           from Mosul University in 1991 with a Bachelor's Degree in English and completed\
           MA in Educational administration in 2008 at St. Clements University.\
           He is currently the head of the board of trustees at Dohuk Private technical Institute\
           and a member of the founders of Harikar Organization."
    />
    <Member
      left
      alt="Nareen Abbas' photo"
      name="Nareen Abbas"
      img="https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/members/nareen.webp"
      title="Programme Manager"
      desc="Nareen Abbas Mohammed Harikar NGO Programme Manager. Nareen Has more than 24 years of experience\
           working in programme and administrative fields with local and international NGOs as well as UN agencies.\
           Nareen received her Bachelor of Arts in Translation from Mosul University in 1995."
    />
    <Member
      right
      alt="Sahira Ali' photo"
      name="Sahira Ali"
      img="https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/members/sahira.webp"
      title="Programme Manager"
      desc="Sahira Ali Hussein, Harikar NGO Finance Manager. A contributor to the development and success of the\
           financial and management system of Harikar NGO. With more than 15 years of experience working in\
           finance and administrative field with Local NGO and UN agencies. Sahira graduated from Salahaddin\
           University in 1997 with a Bachelor's Degree in political sciences."
    />
  </div>
</MainLayout>

<style>
  .page-title {
    text-align: center;
    font-size: var(--size-fluid-4);
  }
  .main-wrap {
    padding-block-start: var(--size-8);
    padding-block-end: var(--size-12);
    padding-inline: var(--size-8);
    display: grid;
    gap: var(--size-8);
    place-content: center;
    place-items: center;
  }

  @media (min-width: 950px) {
    .main-wrap {
      gap: var(--size-10);
    }
    .breadcrumbs {
      margin-left: var(--size-8);
      margin-top: var(--size-3);
    }
  }
</style>
