---
import MainLayout from "@layouts/MainLayout.astro";
import Hero from "@components/Hero.astro";
import AboutUs from "@components/AboutUs.astro";
import Profile from "@components/Profile.astro";
import Projects from "@components/Projects.astro";
import Expertise from "@components/Expertise/Expertise.astro";
import Partners from "@components/Partners.astro";
import Quotation from "@components/Quotation.astro";
import Address from "@components/Address.astro";
import Publications from "@components/Publications.astro";
import Feeds from "@components/Feed/Feeds.astro";
---

<MainLayout title="Home">
  <div id="home">
    <Hero />
  </div>
  <div id="about">
    <AboutUs />
  </div>
  <div id="profile">
    <Profile />
  </div>
  <div id="publications">
    <Publications />
  </div>
  <div id="projects">
    <Projects />
  </div>
  <div id="expertise">
    <Expertise />
  </div>
  <div id="partners">
    <Partners />
  </div>
  <Quotation />
  <div id="feed">
    <Feeds />
  </div>
  <div id="address">
    <Address />
  </div>
</MainLayout>
