---
import MainLayout from "../layouts/MainLayout.astro";

const items = [
  {
    name: "home",
    link: "/",
    disabled: false,
  },
  {
    name: "legal status",
    disabled: true,
  },
];
---

<MainLayout title="Legal status" crumbs={items}>
  <div class="main-wrap">
    <div class="content-wrap">
      <div class="cert">
        <p>GOI NGO license</p>
        <img
          alt="GOI NGO license"
          src="https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/legal/GOI-NGO-license.webp"
          width="500"
          height="auto"
        />
      </div>
      <div class="cert">
        <p>KRI NGO license</p>
        <img
          alt="KRI NGO license"
          src="https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/legal/KRI-NGO-license.webp"
          width="500"
          height="auto"
        />
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .main-wrap {
    padding-block-start: 3rem;
    padding-block-end: 10rem;
    padding-inline: 1.25rem;
    display: grid;
    gap: 3rem;
    place-content: center;
  }

  .content-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .cert p {
    text-align: center;
    font-size: 1rem;
    padding-block: 0.5rem;
    background-color: var(--primary-container);
    color: var(--on-primary-container);
    font-weight: 600;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .cert > img {
    max-width: 100%;
    height: auto;
  }

  @media (min-width: 950px) {
    .main-wrap {
      padding-inline: 10rem;
      gap: 5rem;
    }
    .content-wrap {
      flex-direction: row;
    }
    .breadcrumbs {
      margin-left: 3rem;
      margin-top: 1rem;
    }
  }
</style>
