.container {
    max-width: 100%;
    display: grid;
    padding-inline: 1.25rem;
    padding-block: 1.25rem;
    gap: 1.25rem;
    background-color: var(--surface-container);
    color: var(--on-surface);
    border-radius: 1rem;
}

.title>h2 {
    font-size: var(--fs-md);
    padding-bottom: 1rem;
}

.title>p {
    max-width: 35ch;
    font-size: var(--fs-xs);
    font-weight: 600;
}


.title>p>span {
    text-transform: capitalize;
}

.governorate,
.gender {
    background-color: var(--surface-container-highest);
    padding-block-end: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1rem;
}

.gender {
    margin-bottom: 1rem;
}

.cards {
    max-width: 340px;
}

@media (min-width: 700px) {
    .container {
        display: grid;
        place-content: center;
        padding-inline: 1.25rem;
    }

    .cards {
        max-width: 650px;
    }
}

@media (min-width: 1300px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-content: start;
        justify-content: start;
        padding-inline: 3rem;
        padding-block: 1.25rem;
        gap: 1.25rem;
    }
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
}

table tr {
    background-color: var(--surface2);
    border: var(--border-size-1) solid var(--text1);
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: start;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: var(--surface3);
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: var(--border-size-1) solid var(--text1);
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}