.container {
    width: 100%;
    display: grid;
    padding-inline: var(--size-4);
    padding-block: var(--size-4);
    gap: var(--size-4);
}

.container__title>h2 {
    font-size: var(--font-size-4);
    padding-bottom: 1rem;
}

@media (min-width: 1200px) {}

.container__title>p {
    max-width: var(--size-content-2);
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-6);
}

@media (min-width: 1200px) {
    .container__title>p {
        max-width: var(--size-content-1);
    }
}


.container__title>p>span {
    text-transform: capitalize;
}

.gender {
    background-color: var(--surface3);
    padding-block-end: var(--size-2);
    padding-inline: var(--size-8);
    border-radius: var(--radius-3);
    margin-bottom: var(--size-3);
    box-shadow: var(--shadow-3);
}

.governorate {
    background-color: var(--surface3);
    padding-block-end: var(--size-2);
    padding-inline: var(--size-8);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-3);
}

.container__cards {
    max-width: 340px;
    min-width: 340px;
}

@media (min-width: 700px) {
    .container {
        display: grid;
        place-content: center;
        padding-inline: var(--size-4);
    }

    .container__cards {
        max-width: 650px;
        min-width: 650px;
    }

    .container__table {
        min-width: 650px;
    }
}

@media (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-content: start;
        justify-content: start;
        padding-inline: var(--size-8);
        padding-block: var(--size-4);
        gap: var(--size-4);
    }
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: var(--surface2);
    border: var(--border-size-1) solid var(--text1);
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: start;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: var(--surface3);
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: var(--border-size-1) solid var(--text1);
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        /*
          * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
          */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}