---
const navItems = [
    {
        name: "Reports/Articles",
        link: "/#publications",
    },
    {
        name: "projects",
        link: "/#projects",
    },
    {
        name: "expertise",
        link: "/#expertise",
    },
    {
        name: "partners",
        link: "/#partners",
    },
];

const { classp } = Astro.props;
---

<ul class:list={["nav-items", classp]}>
    {
        navItems.map((item) => (
            <li>
                <a href={item.link}>{item.name}</a>
            </li>
        ))
    }
</ul>

<script>
    const navItems = document.querySelectorAll("a");

    // Add the onclick listeners.
    navItems.forEach((item) => {
        item.addEventListener("click", () => {
            console.log((item.parentNode.parentNode.parentNode.open = false));
        });
    });
</script>

<style>
    .main-nav-items {
        display: flex;
        flex-direction: row;
        position: static;
        box-shadow: none;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 2rem;
        text-transform: capitalize;
        max-width: max-content;
    }

    .nav-items li a {
        font-weight: 600;
        font-size: var(--fs-sm);
        text-decoration: none;
        color: var(--on-surface);
        white-space: nowrap;
    }

    .nav-items li a:hover {
        color: var(--primary);
    }

    .mobile-nav-items {
        background: var(--surface-container-high);
        flex-direction: column;
        z-index: 4;
        padding-block: 2rem;
        padding-inline: 2rem;
        cursor: auto;
        width: max-content;
        position: absolute;
        left: 0;
        top: 5.4em;
        right: 0;
        border-radius: 0 0 1rem 0;
        list-style: none;
        display: grid;
        gap: 1rem;
    }
</style>
