---
import Clusters from "@components/Clusters/Clusters";
import Calendar from "@components/Calendar/Calendar";
---

<button data-open-dashboard-options class="modal-open-btn">Change Options</button>
<dialog data-dashboard-options class="modal-menu-options">
  <h2 class="options-menu-title">Change options</h2>
  <div class="menu-options">
    <Calendar client:load year={2022} />
    <Clusters client:load year={2022} />
  </div>
  <button data-close-dashboard-options class="options-close-btn">Done</button>
</dialog>

<script lang="js">
  const openDashboardOptionsBtn = document.querySelector(
    "[data-open-dashboard-options]"
  );
  const closeDashboardOptionsBtn = document.querySelector(
    "[data-close-dashboard-options]"
  );
  const dashboardOptions = document.querySelector("[data-dashboard-options]");

  openDashboardOptionsBtn.addEventListener("click", () => {
    dashboardOptions.showModal();
  });

  closeDashboardOptionsBtn.addEventListener("click", () => {
    dashboardOptions.close();
  });
</script>

<style>
  @import "./modal-styles.css";
</style>
