---

---

<details class="header-details">
  <summary>Dashboards</summary>
  <div class="content content-dash">
    <ul>
      <li>
        <a href="/dashboard/2023">2023</a>
      </li>
      <li>
        <a href="/dashboard/2022">2022</a>
      </li>
      <li>
        <a href="/dashboard/2021">2021</a>
      </li>
      <li>
        <a href="/dashboard/2020">2020</a>
      </li>
    </ul>
  </div>
</details>

<style>
  @import "./modal-styles.css";
</style>
