details {
    grid-area: menu;
    background-color: transparent;
    padding: 0;
    position: relative;
}

details>summary {
    background-color: transparent;
    list-style: none;
    font-weight: 600;
    font-size: var(--fs-sm);
    color: var(--on-surface);
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

summary {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 0.2rem;
}

summary>p {
    font-size: var(--fs-sm);
    font-weight: 600;
}

summary>p:hover,
details>summary:hover {
    color: var(--primary);
}

details>.content {
    background: var(--surface-container-high);
    z-index: 4;
    padding-block: 2em;
    padding-inline: 2em;
    cursor: auto;
    max-width: max-content;
    position: absolute;
    top: 4em;
    border-radius: 1rem;
    list-style: none;
    display: grid;
    place-items: center;
}

.content {
    left: -2em;
    white-space: nowrap;
}

details>.content>ul {
    display: grid;
    gap: var(--size-1);
    place-content: center;
    place-items: center;
    list-style: none;
    padding: 0;
}

details>.content>ul>li>a {
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    place-content: center;
    place-items: center;
    min-width: 100%;
    gap: 2rem;
    color: var(--on-surface);
    text-decoration: none;
    font-size: var(--fs-sm);
    font-weight: 500;
}

details>.content>ul>li>a:hover {
    color: var(--primary);
}

.number {
    font-size: var(--fs-sm);
    background-color: var(--tertiary-container);
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 50%;
    color: var(--on-tertiary-container);
    display: grid;
    place-content: center;
}