---
const { items } = Astro.props;
---

<ul class="breadcrumb">
  {
    items.map((item) => (
      <li>
        <a
          class:list={[{ disabled: item.disabled }]}
          href={item.link ? item.link : ""}
        >
          {item.name}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    max-width: 100%;
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li + li:before {
    padding: 8px;
    color: var(--on-surface);
    content: "/\00a0";
  }

  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: var(--primary);
    text-decoration: none;
    text-transform: capitalize;
  }

  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    text-decoration: underline;
  }

  .disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
  /* .breadcrumb {
    display: none;
  } */
  @media (min-width: 950px) {
    .breadcrumb {
      /* display: block; */
      margin-left: 3rem;
      margin-top: 1rem;
    }
  }
</style>
