---
import { Icon } from "astro-icon";
---

<div class="calendar">
  <ul class="calendar__list">
    <div class="calendar__icon">
      <Icon pack="mdi" name="calendar" />
    </div>
    <li class="calendar__item">
      <a href="/reports/activity/2022/january">Jan</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/february">Feb</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/march">Mar</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/april">Apr</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/may">May</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/june">Jun</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/july">Jul</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/august">Aug</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/september">Sep</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/october">Oct</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/november">Nov</a>
    </li>
    <li class="calendar__item">
      <a href="/reports/activity/2022/december">Dec</a>
    </li>
  </ul>
</div>

<style>
  .calendar {
    display: grid;
    justify-items: center;
    align-content: start;
  }

 .calendar__list {
   list-style: none;
   height: 10em;
   width: 10em;
   display: grid;
   place-items: center;
   place-content: center;
   grid-template-columns: repeat(3, 1fr);
   gap: var(--size-2);
   background-color: var(--surface1);
   box-shadow: var(--shadow-2);
   padding-inline-start: var(--size-4);
   padding-inline-end: var(--size-6);
   padding-block-end: var(--size-4);
   padding-block-start: var(--size-6);
   border-radius: var(--radius-3);
   position: relative;
 }

 .calendar__icon {
   display: grid;
   place-items: center;
   place-content: center;
   background-color: var(--brand);
   padding: var(--size-2);
   color: var(--gray-1);
   border-radius: var(--radius-3);
   position: absolute;
   top: -1.2em;
   left: 1em;
   width: 36px;
   height: 36px;
   box-shadow: var(--shadow-2);
 }

  .calendar__item {
    width: 100%;
    text-align: center;
    display: grid;
  }

  .calendar__item > a {
    text-decoration: none;
    color: var(--text2);
    padding-block: var(--size-2);
    width: 100%;
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-6);
  }

 .calendar__item:hover {
   background-color: var(--brand);
   color: var(--gray-0);
   border-radius: var(--radius-2);
   box-shadow: var(--shadow-2);
 }

  .calendar__item:hover > a {
    color: var(--gray-0);
  }
</style>
