---
import { Icon } from "astro-icon";
---

<div class="dashboard-menu" id="dashboard-menu-button">
  <p class="dashboard-menu-title">Dashboards</p>
  <div class="dash-menu" id="dash-menu">
    <div class="dash-menu-items">
      <a href="/dashboard/2020" class="dash-menu-item">
        <p><Icon pack="mdi" name="view-dashboard" />2020</p>
      </a>
      <a href="/dashboard/2021" class="dash-menu-item">
        <p><Icon pack="mdi" name="view-dashboard" />2021</p>
      </a>
      <a href="/dashboard/2022" class="dash-menu-item">
        <p><Icon pack="mdi" name="view-dashboard" />2022</p>
      </a>
    </div>
  </div>
</div>

<script lang="js">
  const dashMenu = document.getElementById("dash-menu");
  const dashboardMenuButton = document.getElementById("dashboard-menu-button");
  let dropedMenu = false;

  const toggleDashMenu = () => {
    dropedMenu = !dropedMenu;
    if (!dropedMenu) {
      dashMenu.classList.add("dropped-menu");
    } else if (dropedMenu) {
      dashMenu.classList.remove("dropped-menu");
    }
  };

  dashboardMenuButton.addEventListener("click", () => toggleDashMenu());

  window.addEventListener("click", function (e) {
    if (
      !dashboardMenuButton.contains(e.target) &&
      dashMenu.classList.contains("dropped-menu")
    ) {
      toggleDashMenu();
    }
  });
</script>

<style scoped>
  .dashboard-menu {
    position: relative;
    cursor: pointer;
  }

  .dashboard-menu-title {
    font-weight: var(--font-weight-6);
    color: var(--text2);
  }

  .dashboard-menu-title:hover {
    color: var(--brand);
  }

  .dash-menu {
    position: absolute;
    top: calc(100% + 1.2rem);
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    justify-items: center;
    background-color: var(--surface3);
    padding: var(--size-3);
    border-radius: var(--radius-2);
    max-width: 20rem;
    box-shadow: var(--shadow-3);
    transform: translateY(-1em);
    opacity: 0;
    transition: opacity 150ms var(--ease-out-1),
      transform 150ms var(--ease-out-1);
    pointer-events: none;
  }

  .dropped-menu {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    cursor: default;
    z-index: var(--layer-5);
  }

  .dash-menu::before {
    position: absolute;
    top: -1em;
    right: 0.8em;
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--surface3);
  }

  .dash-menu-items {
    display: grid;
    gap: var(--size-2);
  }

  .dash-menu-item {
    text-decoration: none;
  }

  .dash-menu-item > p {
    display: flex;
    gap: var(--size-2);
    color: var(--text2);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-5);
  }

  .dash-menu-item > p:hover {
    color: var(--brand);
  }

  [astro-icon] {
    color: var(--brand);
    width: 1rem;
  }
</style>
