---
import Tint from "./Tint.astro";
import Title from "./Title.astro";

const expertiseList = [
  ["General Protection", "GBV", "Legal Assistance"],
  ["Livelihood", "PSEA Trainings", "Child Protection"],
  ["Reproductive Health", "WASH", "Green Houses"],
  ["Awarness raising", "PSS", "Case managment"],
];
---

<div class="main-wrap surface1">
  <div class="section-title">
    <Title title="Our Expertise" left />
  </div>
  <div class="content">
    <p class="content-title">
      We have expertise in a wide range of humanitarian and technical
      departments.
    </p>
    <ul class="container">
      {
        expertiseList.map((list) => (
          <div class="expertise-list">
            {list.map((item) => (
              <li tabindex="-1" class="expertise-item">
                {item}
              </li>
            ))}
          </div>
        ))
      }
    </ul>
  </div>
  <Tint flipped gray />
</div>

<style>
  .main-wrap {
    padding-block: var(--size-8);
    padding-inline: var(--size-4);
    display: grid;
    grid-template:
      "title" 0.2fr
      "content" 2fr / 1fr;
    place-items: center;
    position: relative;
    gap: var(--size-4);
  }
  @media (min-width: 950px) {
    .main-wrap {
      grid-template: "title content" / 1fr 2fr;
      padding-block: var(--size-10);
      padding-inline: var(--size-8);
      gap: var(--size-8);
      place-items: center;
    }
  }

  @media (min-width: 1600px) {
    .main-wrap {
      padding-inline: var(--size-13);
    }
  }

  .section-title {
    grid-area: title;
    place-self: start;
  }

  @media (min-width: 950px) {
    .section-title {
      place-self: center;
    }
  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
    justify-items: center;
  }
  .content-title {
    font-size: var(--font-size-fluid-1);
    font-weight: var(--font-weight-6);
    max-inline-size: var(--size-content-2);
  }
  .container {
    display: grid;
    place-items: center;
    gap: var(--size-2);
    font-size: var(--font-size-fluid-0);
    position: relative;
  }

  .expertise-list {
    display: flex;
    gap: var(--size-5);
    list-style-type: none;
  }
  .expertise-item {
    padding-block: var(--size-1);
    padding-inline: var(--size-1);
    background: transparent;
    border: var(--border-size-1) solid var(--brand);
    border-radius: var(--radius-2);
    color: var(--brand);
    font-weight: var(--font-weight-6);
  }

  @media (min-width: 450px) {
    .expertise-item {
      padding-block: var(--size-2);
      padding-inline: var(--size-2);
    }
  }

  .active > button {
    background: var(--brand);
    color: var(--gray-1);
    cursor: default;
    border: var(--border-size-1) solid var(--brand);
  }

  .fade-move,
  .fade-enter-active,
  .fade-leave-active {
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
  }

  /* 2. declare enter from and leave to state */
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translate(30px, 0);
  }

  /* 3. ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
  .fade-leave-active {
    position: absolute;
  }
</style>
