---
import { Icon } from "astro-icon";
import ArticleCard from "./cards/ArticleCard.astro";
import Title from "./Title.astro";
import Tint from "./Tint.astro";

const articles = await Astro.glob("../pages/events-and-stories/*.mdx");
---

<div class="main-wrap surface3">
  <div class="section-title">
    <Title title="Latest Stories" right />
  </div>
  <div class="container">
    <div class="media-scroller snaps-inline">
      {
        articles.map((article) => (
          <a class="link" href={article.url}>
            <ArticleCard
              title={article.frontmatter.title}
              img={article.frontmatter.img}
              date={article.frontmatter.date}
            />
          </a>
        ))
      }
    </div>
  </div>
  <Tint white />
</div>

<style>
  .main-wrap {
    padding-block: var(--size-8);
    display: grid;
    grid-template:
      "title" 0.2fr
      "content" 2fr / 1fr;
    place-items: start;
    position: relative;
    gap: var(--size-4);
  }

  @media (min-width: 950px) {
    .main-wrap {
      grid-template: "content title" / 2fr 1fr;
      padding-block: var(--size-8);
      padding-right: var(--size-10);
      gap: var(--size-8);
      place-items: center;
    }
  }

  .section-title {
    grid-area: title;
    padding-left: var(--size-4);
  }

  .container {
    grid-area: content;
    overflow-x: hidden;
    max-width: 100%;
  }

  .media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    grid-auto-flow: column;
    gap: var(--_spacer);
    grid-auto-columns: 22rem;
    padding-inline: var(--_spacer);
    padding-block: var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    background: var(--surface1);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    transition: all 100ms var(--ease-in-1);
    border-radius: var(--radius-2);
  }

  .content {
    display: grid;
    place-items: center;
    padding-inline: var(--size-1);
    padding-block-end: var(--size-1);
    gap: var(--size-2);
  }

  .media-element:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-2);
  }

  .media-element > img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: var(--radius-2) var(--radius-2) 0 0;
  }
  .media-element__title {
    font-size: var(--font-size-0);
    color: var(--text1);
    font-weight: var(--font-weight-6);
  }

  .media-element__btn {
    align-self: end;
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-6);
    padding-inline: var(--size-1);
    padding-block: var(--size-1);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    background: var(--brand);
    color: var(--gray-2);
    display: block;
    width: 100%;
    max-height: var(--size-6);
    transition: all 100ms var(--ease-in-1);
  }

  .media-element__btn:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-2);
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer);
  }
  .snaps-inline > * {
    scroll-snap-align: start;
  }

  .link {
    text-decoration: none;
  }
</style>
