---
import { Icon } from "astro-icon";
import Tint from "./Tint.astro";
---

<div class="hero-wrap">
  <div class="hero">
    <h1 class="hero-message animate-top-down">
      <div>Harikar NGO</div>
    </h1>
    <p class="under-hero animate-top-down">
      Harikar NGO is a neutral, non-governmental,<br /> non-profit humanitarian organization.
    </p>
    <div class="button-list animate-top-down">
      <a href="/contact-us" class="button">
        Write to us
        <span>
          <Icon pack="mdi" name="send" />
        </span>
      </a>
    </div>
  </div>
  <Tint gray flipped />
</div>

<style>
  .hero-wrap {
    display: grid;
    align-items: center;
    background: var(--surface3);
    position: relative;
    overflow-x: hidden;
  }

  .hero {
    --bg-filter-color: var(--gray-8);
    --bg-filter-opacity: 0.8;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: var(--size-5);
    max-width: 100%;
    padding-inline: var(--size-4);
    padding-block: var(--size-11);
    background-image: url("../assets/images/hero.webp");
    background-size: cover;
    background-position: center;
    isolation: isolate;
  }

  @media (min-width: 950px) {
    .hero {
      justify-content: left;
      padding-block: var(--size-11);
      padding-inline-start: var(--size-12);
    }
  }

  .hero::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-filter-color);
    opacity: var(--bg-filter-opacity);
  }

  .hero-message {
    display: grid;
    grid-template-columns: max-content;
    line-height: var(--font-lineheight-0);
    color: var(--gray-1);
    font-size: var(--font-size-fluid-3);
    width: var(--size-content-1);
  }

  .under-hero {
    color: var(--gray-3);
    font-size: var(--font-size-fluid-1);
    margin-block-end: var(--size-3);
    font-weight: var(--font-weight-6);
  }

  .button-list {
    display: flex;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animate-top-down {
      animation: var(--animation-slide-in-down);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .animate-top-down {
      animation: none;
    }
  }

  .promo-art {
    align-self: stretch;
    grid-area: image;
    max-width: 100%;
  }

  .promo-art > img {
    block-size: 100%;
    object-fit: cover;
    width: 100%;
  }

  @media (min-width: 950px) {
    .promo-art > img {
      max-width: 100%;
      height: auto;
    }
  }

  .triangle {
    display: none;
  }

  @media (min-width: 950px) {
    .triangle {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .triangle svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 30px;
      /* transform: rotateY(180deg); */
    }

    .triangle .shape-fill {
      fill: var(--surface1);
      stroke: var(--surface1);
    }
  }
  .button {
    font-size: var(--font-size-0);
    padding-inline: var(--size-fluid-2);
    padding-block: var(--size-fluid-1);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    background: var(--brand);
    color: var(--gray-1);
    font-weight: var(--font-weight-6);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--size-3);
    transition: all 150ms var(--ease-out-1);
  }

  .button:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow-2);
  }

  [astro-icon] {
    width: 20px;
    height: 20px;
  }
</style>
