---
import { Icon } from "astro-icon";
import Tint from "./Tint.astro";
---

<div class="hero-wrap">
  <div class="hero">
    <h1 class="hero-message">Harikar NGO</h1>
    <p class="under-hero">
      Harikar NGO is a neutral, non-governmental,<br /> non-profit humanitarian
      organization.
    </p>
    <div class="button-list">
      <a href="#feed" class="send-button">
        Latest Updates
        <span>
          <Icon pack="mdi" name="rss" />
        </span>
      </a>
    </div>
  </div>
  <Tint white flipped />
</div>

<style>
  .hero-wrap {
    background: var(--surface);
    position: relative;
    overflow-x: hidden;
  }

  .hero {
    --bg-filter-color: var(--neutral20);
    --bg-filter-opacity: 0.5;
    max-width: 100%;
    padding-inline: 1.25rem;
    padding-block: 7.5rem;
    background-image: url("../assets/images/hero.webp");
    background-size: cover;
    background-position: center;
    isolation: isolate;
  }

  @media (min-width: 950px) {
    .hero {
      padding-block: 10rem;
      padding-inline-start: 10rem;
    }
  }

  .hero::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-filter-color);
    opacity: var(--bg-filter-opacity);
  }

  .hero-message {
    line-height: 2;
    color: var(--on-primary-light);
    font-size: var(--fs-fl-lg);
    max-width: max-content;
  }

  .under-hero {
    color: var(--on-primary-light);
    font-size: var(--fs-fl-sm);
    margin-block-end: 1rem;
    font-weight: 600;
  }

  .button-list {
    margin-top: 2rem;
    display: flex;
  }

  .send-button {
    --link-visited: var(--tretiary);
    font-size: var(--fs-xs);
    padding-inline: 1rem;
    padding-block: 0.7rem;
    border-radius: 0.5rem;
    background: var(--tertiary-container);
    color: var(--on-tertiary-container);
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--size-3);
    transition: transform 150ms ease-out;
    text-decoration: none;
    border: 1px solid var(--on-tertiary-container);
  }

  .send-button:hover {
    transform: scale(1.1);
  }

  [astro-icon] {
    width: 20px;
    height: 20px;
    color: var(--on-tertiary-container);
  }
</style>
