---
import { Icon } from "astro-icon";
import Tint from "./Tint.astro";
---

<div class="hero-wrap">
  <img
    alt="girls flying baloons"
    srcset="
    /images/hero_400.webp
    400w,
    /images/hero_700.webp
    700w,
    /images/hero_1200.webp
    1200w,
    /images/hero.webp
    1400w"
    sizes="100vmin"
  />
  <div class="hero">
    <h1 class="hero-message">Harikar NGO</h1>
    <p class="under-hero">
      Harikar NGO is a neutral, non-governmental,<br /> non-profit humanitarian organization.
    </p>
    <div class="button-list">
      <a href="#feed" class="send-button">
        Latest Updates
        <span>
          <Icon pack="mdi" name="rss" />
        </span>
      </a>
    </div>
  </div>
  <Tint white flipped />
</div>

<style>
  .hero-wrap {
    background: var(--surface);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    height: 30rem;
  }

  img,
  .hero {
    grid-row: 1/2;
  }

  img {
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero {
    grid-column: 1 / -1;
    --bg-filter-color: var(--neutral20);
    --bg-filter-opacity: 0.5;
    max-width: 100%;
    padding-inline: 2rem;
    padding-block: 7.5rem;
    isolation: isolate;
    display: grid;
    align-content: center;
    justify-items: start;
  }

  @media (min-width: 950px) {
    .hero-wrap {
      height: 40rem;
    }
    .hero {
      padding-block: 10rem;
      padding-inline-start: 10rem;
    }
  }

  .hero::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-filter-color);
    opacity: var(--bg-filter-opacity);
  }

  .hero-message {
    line-height: 2;
    color: var(--on-primary-light);
    font-size: var(--fs-fl-lg);
    max-width: max-content;
    font-weight: 600;
  }

  .under-hero {
    color: var(--on-primary-light);
    font-size: var(--fs-fl-sm);
    margin-block-end: 1rem;
    font-weight: 600;
    max-width: max-content;
  }

  .button-list {
    margin-top: 2rem;
    display: flex;
    max-width: max-content;
  }

  .send-button {
    --link-visited: var(--tretiary);
    font-size: var(--fs-xs);
    padding-inline: 1rem;
    padding-block: 0.7rem;
    border-radius: 0.5rem;
    background: var(--tertiary-container);
    color: var(--on-tertiary-container);
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--size-3);
    transition: transform 150ms ease-out;
    text-decoration: none;
    border: 1px solid var(--on-tertiary-container);
  }

  .send-button:hover {
    transform: scale(1.1);
  }

  [astro-icon] {
    width: 20px;
    height: 20px;
    color: var(--on-tertiary-container);
  }
</style>
