---
import { Icon } from "astro-icon";
import Tint from "./Tint.astro";
---

<div class="hero-wrap">
  <div class="hero">
    <h1 class="hero-message animate-top-down">
      <div>Harikar NGO</div>
    </h1>
    <p class="under-hero animate-top-down">
      Harikar NGO is a neutral, non-governmental,<br /> non-profit humanitarian organization.
    </p>
    <div class="button-list animate-top-down">
      <a href="#feed" class="send-button">
        Latest Updates
        <span>
          <Icon pack="mdi" name="rss" />
        </span>
      </a>
    </div>
  </div>
  <Tint white flipped />
</div>

<style>
  .hero-wrap {
    display: grid;
    align-items: center;
    background: var(--surface);
    position: relative;
    overflow-x: hidden;
  }

  .hero {
    --bg-filter-color: var(--gray-8);
    --bg-filter-opacity: 0.5;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: var(--size-5);
    max-width: 100%;
    padding-inline: var(--size-4);
    padding-block: var(--size-11);
    background-image: url("../assets/images/hero.webp");
    background-size: cover;
    background-position: center;
    isolation: isolate;
  }

  @media (min-width: 950px) {
    .hero {
      justify-content: left;
      padding-block: var(--size-12);
      padding-inline-start: var(--size-12);
    }
  }

  .hero::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-filter-color);
    opacity: var(--bg-filter-opacity);
  }

  .hero-message {
    display: grid;
    grid-template-columns: max-content;
    line-height: var(--font-lineheight-0);
    color: var(--on-primary-light);
    font-size: var(--font-size-fluid-3);
    width: var(--size-content-1);
  }

  .under-hero {
    color: var(--on-primary-light);
    font-size: var(--font-size-fluid-1);
    margin-block-end: var(--size-3);
    font-weight: var(--font-weight-6);
  }

  .button-list {
    display: flex;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animate-top-down {
      animation: var(--animation-slide-in-down);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .animate-top-down {
      animation: none;
    }
  }

  .promo-art {
    align-self: stretch;
    grid-area: image;
    max-width: 100%;
  }

  .promo-art > img {
    block-size: 100%;
    object-fit: cover;
    width: 100%;
  }

  @media (min-width: 950px) {
    .promo-art > img {
      max-width: 100%;
      height: auto;
    }
  }

  .send-button {
    --link-visited: var(--tretiary);
    font-size: var(--font-size-0);
    padding-inline: var(--size-fluid-2);
    padding-block: var(--size-fluid-1);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow);
    background: var(--primary);
    color: var(--on-primary);
    font-weight: var(--font-weight-8);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--size-3);
    transition: all 150ms var(--ease-out-1);
    text-decoration: none;
    border: var(--border-size-1) solid var(--on-primary);
  }

  .send-button:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow);
  }

  [astro-icon] {
    width: 20px;
    height: 20px;
    color: var(--on-primary)
  }
</style>
