---
import Title from "./Title.astro";
import PartnerCard from "./cards/PartnerCard.astro";
import MediaScroller from "./MediaScroller.astro";

const partners = [
  {
    title: "afd",
    link: "	www.afd.fr/en",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/afd-logo.webp",
  },
  {
    title: "asb",
    link: "	https://www.asb.de/en",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/asb-logo.webp",
  },
  {
    title: "bmz",
    link: "	https://www.bmz.de/en/",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/bmz-logo.webp",
  },
  {
    title: "care",
    link: "	https://www.care-international.org/",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/care-logo.webp",
  },
  {
    title: "dary",
    link: "	https://daryhuman.org/",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/dary-logo.webp",
  },
  {
    title: "dorcas",
    link: "	www.dorcas.org",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/dorcas-logo.webp",
  },
  {
    title: "canada",
    link: "	https://www.international.gc.ca/global-affairs-affaires-mondiales/home-accueil.aspx?lang=eng",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/canada-logo.webp",
  },
  {
    title: "giz",
    link: "	www.giz.de/en/html/index.html",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/giz-logo.webp",
  },
  {
    title: "ha",
    link: "	https://www.heartlandalliance.org/",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/ha-logo.webp",
  },
  {
    title: "ihf",
    link: "	www.unocha.org/iraq/about-ihf",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/ihf-logo.webp",
  },
  {
    title: "nin",
    link: "	https://nachbarinnot.orf.at/",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/nin-logo.webp",
  },
  {
    title: "sci",
    link: "	www.savethechildren.org",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/sci-logo.webp",
  },
  {
    title: "sida",
    link: "	www.sida.se/en",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/sida-logo.webp",
  },
  {
    title: "solidarites",
    link: "	https://www.solidarites.org/en/",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/solidarites-logo.webp",
  },
  {
    title: "undp",
    link: "	https://www.undp.org/",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/undp-logo.webp",
  },
  {
    title: "unfpa",
    link: "	https://www.unfpa.org/",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/unfpa-logo.webp",
  },
  {
    title: "unhcr",
    link: "	www.unhcr.org",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/unhcr-logo.webp",
  },
  {
    title: "unicef",
    link: "	www.unicef.org",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/unicef-logo.webp",
  },
  {
    title: "unocha",
    link: "	www.unocha.org",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/unocha-logo.webp",
  },
  {
    title: "wv",
    link: "	https://www.worldvision.org/",
    img: "https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/partners/wv-logo.webp",
  },
];
---

<div class="main-wrap surface3">
  <div class="section-title">
    <Title title="Our Partners" right />
  </div>
  <div class="partners-slider">
    <MediaScroller>
      {
        partners.map((partner) => (
          <PartnerCard
            title={partner.title}
            link={partner.link}
            img={partner.img}
          />
        ))
      }
    </MediaScroller>
  </div>
</div>

<style>
  .main-wrap {
    padding-block: var(--size-8);
    display: grid;
    grid-template:
      "title" 0.2fr
      "content" 2fr / 1fr;
    place-items: start;
    overflow: hidden;
    position: relative;
    gap: var(--size-4);
  }
  @media (min-width: 950px) {
    .main-wrap {
      grid-template: "content title" / 2fr 1fr;
      padding-block: var(--size-12);
      padding-end: var(--size-10);
      gap: var(--size-8);
      place-items: center;
    }
  }

  .section-title {
    grid-area: title;
    padding-inline: var(--size-4);
  }

  .partners-slider {
    grid-area: content;
    overflow: hidden;
    max-width: 100%;
  }
</style>
