---
import Title from "./Title.astro";
import Tint from "./Tint.astro";

const getImg = (id) => {
  return `https://raw.githubusercontent.com/Harikar-NGO/harikar-website-files/main/images/projects/project-${id}.webp`;
};

const response = await fetch(
  "https://harikar-reports-api.cyclic.app/v2/projectsmini"
);
const projects = await response.json();
---

<div class="main-wrap surface3">
  <div class="section-title">
    <Title title="Our Projects" right />
  </div>
  <div class="container">
    <div class="media-scroller snaps-inline">
      {
        projects.map((project) => (
          <div class="media-element">
            <img
              loading="lazy"
              alt="an image from the project"
              src={getImg(project.id)}
              width="208"
              height="125"
            />
            <p class="media-element__title">
              {project.name.substr(0, 80) + "..."}
            </p>
            <button class="media-element__btn">Learn More</button>
          </div>
        ))
      }
    </div>
  </div>
  <Tint white />
</div>

<style>
  .main-wrap {
    padding-block: var(--size-8);
    display: grid;
    grid-template:
      "title" 0.2fr
      "content" 2fr / 1fr;
    place-items: start;
    position: relative;
    gap: var(--size-4);
  }

  @media (min-width: 950px) {
    .main-wrap {
      grid-template: "content title" / 2fr 1fr;
      padding-block: var(--size-11);
      padding-right: var(--size-10);
      gap: var(--size-8);
      place-items: center;
    }
  }

  .section-title {
    grid-area: title;
    padding-left: var(--size-4);
  }

  .container {
    grid-area: content;
    overflow-x: hidden;
    max-width: 100%;
  }

  .media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    grid-auto-flow: column;
    gap: var(--_spacer);
    grid-auto-columns: 10rem;
    padding-inline: var(--_spacer);
    padding-block: var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  @media (min-width: 450px) {
    .media-scroller {
      grid-auto-columns: 12rem;
    }
  }

  .media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface4);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    transition: all 100ms var(--ease-in-1);
  }

  .media-element:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-2);
  }

  .media-element > img {
    inline-size: 100%;
    aspect-ratio: var(--ratio-landscape);
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
  .media-element__title {
    font-size: var(--font-size-0);
    color: var(--text1);
    font-weight: var(--font-weight-6);
  }

  .media-element__btn {
    align-self: end;
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-6);
    padding-inline: var(--size-1);
    padding-block: var(--size-1);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    background: var(--brand);
    color: var(--gray-2);
    display: block;
    max-height: var(--size-6);
    transition: all 100ms var(--ease-in-1);
  }

  .media-element__btn:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-2);
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer);
  }
  .snaps-inline > * {
    scroll-snap-align: start;
  }
</style>
