---
import Title from "./Title.astro";
import ProjectCard from "./cards/ProjectCard.astro";
import MediaScroller from "./MediaScroller.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<div class="main-wrap surface">
  <div class="section-title">
    <Title title="Our Projects" right />
  </div>
  <div class="projects-slider">
    <MediaScroller>
      {
        projects.map((project) => (
          <div class="media-element">
            <ProjectCard project={project} />
          </div>
        ))
      }
    </MediaScroller>
  </div>
</div>

<style>
  .main-wrap {
    padding-block: 3rem;
    display: grid;
    position: relative;
    grid-template:
      "title" 0.2fr
      "content" 2fr / 1fr;
    place-items: start;
    gap: 1.25;
  }

  @media (min-width: 950px) {
    .main-wrap {
      grid-template: "content title" / 2fr 1fr;
      padding-block: 10rem;
      padding-inline-end: 5rem;
      gap: 3rem;
      place-items: center;
    }
  }

  .section-title {
    grid-area: title;
    padding-left: 1.25rem;
  }

  .projects-slider {
    grid-area: content;
    max-width: 100%;
    overflow-x: hidden;
  }
</style>
