---
import ArticleCard from "./cards/ArticleCard.astro";
import Title from "./Title.astro";
import MediaScroller from "./MediaScroller.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
const reports = await getCollection("reports");

function reportsAndArticles() {
  const posts = [...reports, ...articles]
    .sort(function compare(a, b) {
      const dateA = a.data.createdAt;
      const dateB = b.data.createdAt;
      if (dateA < dateB) {
        return -1;
      }
      if (dateA > dateB) {
        return 1;
      }
      return 0;
    })
    .reverse();
  return posts;
}

const combinedPosts = reportsAndArticles();
---

<div class="main-wrap surface">
  <div class="section-title">
    <Title title="Reports/ Articles" left />
  </div>
  <div class="container">
    <MediaScroller>
      {
        combinedPosts.map((post) => (
          <a
            class="link"
            href={
              post.data.link == "false"
                ? `articles/${post.slug}`
                : post.data.link
            }
            target={post.data.link == "false" ? `_self` : "_blank"}
          >
            <ArticleCard article={post} />
          </a>
        ))
      }
    </MediaScroller>
  </div>
</div>

<style>
  .main-wrap {
    padding-block: 3rem;
    display: grid;
    grid-template:
      "title" 0.2fr
      "content" 2fr / 1fr;
    place-items: start;
    position: relative;
    gap: 1.25rem;
  }

  @media (min-width: 950px) {
    .main-wrap {
      grid-template: "title content" / 1fr 2fr;
      padding-block-start: 3rem;
      padding-block-end: 10rem;
      padding-inline-end: 5rem;
      gap: 3rem;
      place-items: center;
    }
  }

  .section-title {
    grid-area: title;
    padding-left: 1.25rem;
  }

  .container {
    grid-area: content;
    overflow-x: hidden;
    max-width: 100%;
  }

  .media-scroller {
    --_spacer: 1rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--_spacer);
    grid-auto-columns: 22rem;
    padding-inline: var(--_spacer);
    padding-block: var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer);
  }
  .snaps-inline > * {
    scroll-snap-align: start;
  }

  .link {
    text-decoration: none;
  }
</style>
