---

---

<div class="main-wrap">
  <div>
    <p class="quote">
      Provision of required services to destitute people is not a task of
      charity, rather an act of humanity and justice.
    </p>
    <footer>- Salah Y. Majid</footer>
  </div>
</div>

<style>
  .main-wrap {
    --bg-filter-color: var(--neutral20);
    --bg-filter-opacity: 0.7;
    padding-block: 10rem;
    padding-inline: 3rem;
    display: grid;
    place-items: center;
    background: var(--surface);
    background-image: url("../assets/images/quote.webp");
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
    max-width: 100%;
  }

  .main-wrap::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-filter-color);
    opacity: var(--bg-filter-opacity);
  }

  .quote {
    font-size: var(--fs-fl-sm);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    line-height: 1.3;
    max-width: 60ch;
    color: var(--on-surface-dark);
  }

  .quote::before {
    content: open-quote;
    display: inline;
    line-height: 0;
    left: -0.1em;
    position: relative;
    top: 0.5em;
    color: var(--primary);
    font-size: 3em;
  }
  .quote::after {
    content: close-quote;
    display: inline;
    line-height: 0;
    left: 0.1em;
    position: relative;
    top: 0.5em;
    color: var(--primary);
    font-size: 3em;
  }
  footer {
    margin: 0;
    text-align: right;
    font-size: var(--fs-fl-sm);
    font-style: italic;
    color: var(--on-surface-dark);
  }
</style>
