---
---

<div class="main-wrap">
  <div>
    <p class="quote">
      Provision of required services to destitute people is not a task of
      charity, rather an act of humanity and justice.
    </p>
    <footer>- Salah Y. Majid</footer>
  </div>
</div>

<style>
  .main-wrap {
    --bg-filter-color: var(--gray-8);
    --bg-filter-opacity: 0.8;
    padding-block: var(--size-8);
    padding-inline: var(--size-8);
    display: grid;
    place-items: center;
    background: var(--surface3);
    background-image: url("../assets/images/quote.webp");
    background-position: top;
    background-size: cover;
    position: relative;
    isolation: isolate;
  }

  .main-wrap::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-filter-color);
    opacity: var(--bg-filter-opacity);
  }

  .quote {
    font-size: var(--font-size-fluid-1);
    /* quotes: "\201C""\201D""\2018""\2019"; */
    padding-block: var(--size-2);
    padding-inline: var(--size-4);
    line-height: var(--font-lineheight-2);
    max-width: var(--size-content-3);
    color: var(--gray-1);
  }

  .quote::before {
    content: open-quote;
    display: inline;
    line-height: 0;
    left: -0.1em;
    position: relative;
    top: 0.5em;
    color: var(--brand);
    font-size: 3em;
  }
  .quote::after {
    content: close-quote;
    display: inline;
    line-height: 0;
    left: 0.1em;
    position: relative;
    top: 0.5em;
    color: var(--brand);
    font-size: 3em;
  }
  footer {
    margin: 0;
    text-align: right;
    font-size: var(--font-size-fluid-1);
    font-style: italic;
    color: var(--gray-2);
  }
</style>
