---
import "../styles/style.css";
const { title, left, right } = Astro.props;
---

<div class:list={["title", { left, right }]}>
  <h2>{title}</h2>
</div>

<style>
  .title {
    display: grid;
  }
  .title h2 {
    font-size: var(--font-size-fluid-2);
    color: var(--on-surface);
  }
  @media (min-width: 950px) {
    .title {
      place-items: center;
      position: relative;
      z-index: var(--layer-3);
    }
    .title h2 {
      width: 5ch;
      color: var(--on-primary-container);
    }
    .left::before,
    .left::after,
    .right::before,
    .right::after {
      content: "";
      position: absolute;
      z-index: -1;
      border-radius: var(--radius-3);
      border: var(--border-size-1) solid var(--on-primary-container);
    }
    .left::before,
    .right::before {
      left: -2em;
      background: var(--primary-container);
      width: 15em;
      height: 15em;
      box-shadow: var(--shadow);
    }
    .left::before {
      top: -4em;
      transform: rotate(48deg);
    }
    .right::before {
      top: -5em;
      transform: rotate(42deg);
    }
    .left::after,
    .right::after {
      left: -3em;
      border: var(--border-size-1) solid var(--primary);
      width: 17em;
      height: 17em;
    }
    .left::after {
      top: -5em;
      transform: rotate(42deg);
    }
    .right::after {
      top: -6em;
      transform: rotate(48deg);
    }
  }
</style>
