.ben-cards {
    display: grid;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    align-items: end;
    padding-block: 1.75rem;
    padding-inline: 1.25rem;
    background-color: var(--tertiary-container);
    color: var(--on-tertiary-container);
    border-radius: 1rem;
}

.ben-cards__title>h2 {
    font-size: var(--fs-lg);
    padding-bottom: 1rem;
}

.ben-cards__title>p {
    max-width: 25ch;
    font-size: var(--fs-xs);
    font-weight: 600;
}

@media (min-width: 1200px) {
    .ben-cards__title>p {
        max-width: 20ch;
    }
}

.ben-cards__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.ben-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: var(--surface-container);
    width: 7.5rem;
    height: 7.5rem;
    padding: 1.25rem;
    border-radius: 1rem;
}

@media (min-width: 700px) {
    .ben-cards {
        padding-inline: 1.25rem;
        place-content: center;
        align-items: start;
    }

    .ben-cards__cards {
        gap: 0.5rem;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1200px) {
    .ben-cards {
        display: flex;
        gap: 3rem;
        width: 100%;
        justify-content: start;
        align-items: end;
        padding-block: 3rem;
        padding-inline-start: 3rem;
    }

    .ben-cards__title>h2 {
        font-size: var(--fs-md);
        padding-bottom: 1rem;
    }

    .ben-cards__title>p {
        max-width: 20ch;
        min-width: 20ch;
        font-size: var(--fs-xs);
        font-weight: 600;
    }

    .ben-cards__cards {
        display: flex;
        gap: 1.25rem;
    }
}

.ben-card__icon {
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.7rem;
    top: 0;
    left: 1em;
    transform: translateY(-50%);
}

.total {
    background-color: var(--primary-light);
}

.male {
    background-color: var(--male);
}

.female {
    background-color: var(--female);
}

.camp {
    background-color: var(--camp);
}

.urban {
    background-color: var(--urban);
}

.ben-card__name {
    text-transform: capitalize;
    font-size: var(--fs-sm);
    font-weight: 600;
    color: var(--on-surface);
}

.ben-card__num {
    font-size: var(--fs-md);
    font-weight: 800;
    color: var(--on-surface);
}