.cards {
    display: grid;
    gap: 3rem;
    max-width: min-content;
    justify-content: center;
    align-items: end;
    padding-block: 1.75rem;
    padding-inline: 1.25rem;
    background-color: var(--tertiary-container);
    color: var(--on-tertiary-container);
    border-radius: 1rem;
}

.title>h2 {
    font-size: var(--fs-lg);
    padding-bottom: 1rem;
}

.title>p {
    max-width: 65ch;
    font-size: var(--fs-xs);
    font-weight: 600;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: var(--surface-container);
    width: 7.5rem;
    height: 7.5rem;
    padding: 1.25rem;
    border-radius: 1rem;
    cursor: pointer;
}

@media (min-width: 700px) {
    .cards {
        padding-inline: 1.25rem;
        place-content: center;
        align-items: start;
    }

    .list {
        gap: 0.5rem;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1300px) {
    .cards {
        display: flex;
        gap: 1rem;
        max-width: 100%;
        justify-content: start;
        align-items: end;
        padding-block: 3rem;
        margin-inline-start: 2rem;
    }

    .title>h2 {
        font-size: var(--fs-md);
        padding-bottom: 1rem;
    }

    .list {
        display: flex;
        gap: 1rem;
    }
}

.icon {
    --icon-bg: #ffffff;
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.7rem;
    top: 0;
    left: 1em;
    transform: translateY(-50%);
    background-color: var(--icon-bg);
}

.total {
    --icon-bg: var(--primary-light);
}

.male {
    --icon-bg: var(--male);
}

.female {
    --icon-bg: var(--female);
}

.camp {
    --icon-bg: var(--camp);
}

.urban {
    --icon-bg: var(--urban);
}

.cardtitle {
    text-transform: capitalize;
    font-size: var(--fs-sm);
    font-weight: 600;
    color: var(--on-surface);
}

.cardnum {
    font-size: var(--fs-md);
    font-weight: 800;
    color: var(--on-surface);
}