---
import Districts from "@components/Charts/districts/Districts";
import Clusters from "@components/Clusters/Clusters";
import Calendar from "@components/Calendar/Calendar";
import BenCards from "@components/DashboardCards/BenCards/BenCards";
import TypeCards from "@components/DashboardCards/TypeCards/TypeCards";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Project Activity Dashboard 2022">
  <div class="main-wrap">
    <div class="content-wrap" id="content-wrap">
      <div class="side">
        <Calendar client:load />
        <Clusters client:load year={2022} />
      </div>
      <div class="main">
        <div class="types section">
          <TypeCards client:only="preact" />
        </div>
        <div class="locations section">
          <Districts client:only="preact" />
        </div>
        <div class="cards section">
          <BenCards client:only="preact" />
        </div>
        <div class="trends section"></div>
      </div>
    </div>
  </div>
</MainLayout>

<script></script>

<style>
  .main-wrap {
    background-color: var(--surface4);
  }
  .content-wrap {
    display: grid;
    grid-template: "side main" / 1fr 5fr;
    position: relative;
    background-color: var(--surface1);
    background-size: cover;
    background-position: center;
    max-height: 100vh;
  }

  .side {
    grid-area: side;
    display: grid;
    justify-items: center;
    align-content: start;
    padding-inline: var(--size-4);
    padding-block-start: var(--size-10);
    background-color: var(--surface5);
  }

  .main {
    grid-area: main;
    background-color: var(--surface1);
    max-height: 100vh;
    overflow-y: auto;
    padding: var(--size-4);
    display: grid;
    border-radius: var(--radius-3) 0 0 0;
    grid-template:
      "types locations" 1fr
      "cards cards" 1fr
      "trends trends" 1fr / 1fr 3fr;
    gap: var(--size-4);
  }

  .section {
    border-radius: var(--radius-3);
  }

  .types {
    grid-area: types;
    background-color: var(--surface6);
    box-shadow: var(--shadow-1);
    max-width: 18rem;
  }
  .trends {
    grid-area: trends;
    background-color: var(--surface3);
    padding-block: var(--size-12);
  }

  .cards {
    grid-area: cards;
    background-color: var(--surface5);
    box-shadow: var(--shadow-1);
  }

  .cards :global(.container) {
    width: 100%;
  }

  .locations {
    grid-area: locations;
  }

  .locations :global(.chart) {
    width: 100%;
  }
</style>
