---
import Districts from "@components/Charts/Districts";
import Clusters from "@components/Clusters/Clusters";
import Calendar from "@components/Calendar/Calendar";
import BenCards from "@components/DashboardCards/BenCards/BenCards";
import TypeCards from "@components/DashboardCards/TypeCards/TypeCards";
import MainLayout from "@layouts/MainLayout.astro";
import TrendsOrActivities from "@components/DashboardCards/TrendsOrActivities/TrendsOrActivities";
const { year = "" } = Astro.props;
---

<MainLayout title="Project Activity Dashboard 2022">
  <div class="main-wrap">
    <div class="content-wrap" id="content-wrap">
      <div class="side">
        <Calendar client:only="preact" year={year} />
        <Clusters client:load year={year} />
      </div>
      <div class="main">
        <div class="types section">
          <TypeCards client:only="preact" />
        </div>
        <div class="locations section">
          <Districts client:only="preact" />
        </div>
        <div class="cards section">
          <BenCards client:only="preact" />
        </div>
        <div class="trends section">
          <TrendsOrActivities client:only="preact" />
        </div>
        <div class="activities"></div>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .main-wrap {
    background-color: var(--surface4);
  }
  .content-wrap {
    display: grid;
    grid-template: "side" "main" / 1fr;
    position: relative;
    background-color: var(--surface1);
  }

  .side {
    grid-area: side;
    padding-block: var(--size-4);
    background-color: var(--surface4);
    box-shadow: var(--shadow-2);
    clip-path: inset(0px 0px -15px 0px);
    display: none;
    padding-block-start: var(--size-8);
    padding-block-end: var(--size-4);
    justify-content: center;
    align-content: start;
  }

  .options {
    grid-area: side;
    background-color: var(--surface4);
    box-shadow: var(--shadow-2);
    display: grid;
    padding-block-start: var(--size-4);
    padding-block-end: var(--size-4);
    place-content: center;
    font-size: var(--font-size-3);
    max-width: 100%;
  }

  .main {
    grid-area: main;
    background-color: var(--surface1);
    padding-block: var(--size-8);
    padding-inline: var(--size-4);
    display: grid;
    grid-template:
      "types"
      "locations" 400px
      "cards"
      "trends" / 1fr;
    gap: var(--size-4);
  }

  @media (min-width: 1200px) {
    .options {
      display: none;
    }
    .side {
      clip-path: inset(0px -15px 0 0px);
      position: unset;
      top: unset;
      z-index: unset;
      width: 100%;
      display: grid;
      padding-inline: var(--size-4);
      padding-block-start: var(--size-12);
      padding-block-end: var(--size-8);
    }
    .content-wrap {
      display: grid;
      grid-template: "side main" / 1fr 5fr;
      position: relative;
      background-color: var(--surface1);
      max-height: 100vh;
    }

    .main {
      max-height: 100vh;
      overflow-y: auto;
      grid-template:
        "types locations" 1fr
        "cards cards" 1fr
        "trends trends" 1fr / 1fr 5fr;
    }
  }

  @media (min-width: 1600px) {
    .main {
      padding-inline-end: var(--size-15);
    }
  }

  .section {
    border-radius: var(--radius-3);
  }

  .types {
    grid-area: types;
    background-color: var(--surface6);
    box-shadow: var(--shadow-1);
  }

  @media (min-width: 1200px) {
    .types {
      max-width: 18rem;
    }
  }

  .trends {
    grid-area: trends;
    background-color: var(--surface2);
    box-shadow: var(--shadow-1);
  }

  .cards {
    grid-area: cards;
    background-color: var(--surface5);
    box-shadow: var(--shadow-1);
  }

  .locations {
    grid-area: locations;
  }
</style>
